body{
    background-color: #0d1a2d;
    font-family: Outfit;
}
.container{
    margin: 50px auto;
    width:1400px;
    display: flex;
    flex-wrap: wrap;
}
.mainbox{
    background-color:#15273f;
    width:400px;
    height: 680px; 
    border-radius:16px;
    margin:20px;
}
.img img{
    width:345px;
    height: 300px;
    margin-left:27px;
    margin-top: 30px;
    border-radius: 10px;
}
#heading{
     color:white;
     font-size: 25px;;
     font-family: 'Outfit', sans-serif;
     font-weight:900;
     margin-left:27px ;
}
#our{
    color: #8196b2;
    font-size: 21px;;
    font-family: 'Outfit', sans-serif;
    margin-left: 27px ;
}
#value{
    color: hsl(178, 100%, 50%);
    font-size: 20px;
    margin-left: 10px;
}
.ether{
    display: flex;
}
#ethimg {
    height:24px;
    width: 15px;
    margin-left:27px ;
    margin-top: 18px;
}
span{
    color: #8196b2;
    /* margin-left: 280px; */
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}
#clock{
  margin-top: 20px;
}
.middle{
    display: flex;
}
.days{
    margin-left: 120px;
}
.creation{
    display: flex;
    margin-left: 8px;
    margin: 15px;
}
#avatar{
    width: 30px;
    height:30px;
    border:2px solid white;
    border-radius: 50%;
    margin-left: 20px ;
    margin-top: 8px;
}
.of{
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 500;
   margin-left: 19px;
   margin-bottom: 20px;
   margin-top: 10px;
}
#jules{
    font-weight:400;
    font-size: 19px;
    color: white;
    margin-left :8px;
    font-family: 'Outfit', sans-serif;
}
hr{
    width:340px;
    height:0px;
}
.name{
    color: hsl(215, 51%, 70%);
}
.color{
    background-color:  hsl(216, 50%, 16%);
    height:300px;
    width:440px;
    display: flex;
    margin-top: 25px;
    border-radius: 13px;
}
.another{
     margin-right: 90px;
     margin-top: 45px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 1430px;
     
}
.lefttopcont-2{
    height: 300px;
    width:220px;
}
.righttopcont-2{
    height: 300px;
    width:220px;
}
.equil-1{
    height:170px;
    width:190px;
    margin-left: 15px;
    border-radius: 13px;
    margin-top: 10px;
}
.our-1 {
    font-weight: 300px;
    color:white;
 }
 .ethday{
    display: flex;
 }
 .aligntwo-2{
    margin-left:20px;
    color: hsl(215, 51%, 70%);;
 }
.alignthree-3{
    margin-left: 9px;
    color:hsl(215, 51%, 70%);
}
.full{
    display: flex;
    width:1900px;
    border:2px white;
}
.aligntwo{
    color: hsl(178, 100%, 50%);
    margin-left: 10px;
}
.ether img{
    height:20px;
    margin-top:15px;
    margin-left: 15px;
}
.wy{
    height:30px;
    width: 30px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 10px;
}
.bot{
   margin-top: 50px;  
   display: flex;
   align-items: center;
}
.ourtwo{
    color:hsl(215, 51%, 70%);
    font-size: 18px;
}
#name{
    color:white;
    
}



